<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gulp Project</title>
    <link href="css/foundation.css" rel="preload stylesheet" as="style">
    <link href="css/style.css" rel="preload stylesheet" as="style">
</head>
<body>
    @@include('../components/header/header.html', { 'class' : '' })
    <main>
        <svg>
            <use xlink:href="img/sprite.svg#search"></use>
        </svg>
    </main>
    @@include('../components/footer/footer.html')
    <script defer src="js/foundation.js"></script>
    <script defer src="js/main.js"></script>
</body>
</html>
